.static-home {
  #steps img {
    border-radius: 10px;
  }

  #quote blockquote {
    margin: 50px 0 0 0;
    padding: 0;
    border: none;
    font-size: $baseFontSize * 1.2;

    .author {
      font-style: italic;
      color: gray;
      position: relative;
      top: 3px;
      left: 15px;
      font-size: $baseFontSize * 1.1;
    }
  }

  #steps {
    margin-top: 10px;

    .step > p {
      margin-top: 5px;
    }
  }
}
