.pictures-index {
  #main-content {

    .picture {
      .best_in_place {
        margin: 2px 0 10px;
        height: 28px;
        display: block;
        cursor: pointer;
      }
      .placeholder {
        margin: 2px 0 10px;
        font-style: italic;
        color: $med_gray;
        font-size: 0.9em;
        &:hover {
          cursor: pointer;
        }
        .edit-button {
          @include button(darken($light_gray, 10%));
          font-family: 'Iconic';
          font-size: 1.1em;
          line-height: 30px;
          padding: 5px 11px;
          margin-left: 10px;
        }
      }

    }
  }
  #sidebar {
    @include column_padding(left);
    @media #{$portrait_tabs_and_above} {
      @include fancy_border(left);
    }
  }
  #new-picture {
    @include fancy_border(bottom);
  }
  #thumbnails {
    list-style-type: none;
    margin-left: 0;

    .picture {
      padding-bottom: 5px;
      margin-bottom: 5px;
      @include fancy_border(bottom);
      background: image-url('grips.png') 65% 40% no-repeat;
      &:hover {
        cursor: move;
      }

    .ui-sortable-helper {
      background: red;
      opacity: .4;
    }
      .delete {
        font-size: 0.8em;
        margin-left: 10px;
      }
    }
  }
}
