= form_for [current_user, favorite] do |f|
  = hidden_field_tag "favorite[recipe_id]", recipe.id
  = hidden_field_tag "favorite[user_id]", current_user.id
  = button_tag '', title: 'Favorite recipe', class: 'btn tooltipped', id: 'favorite-recipe' do
    %i.icon-bookmark-empty
