<h1>Import A Recipe</h1>

<p>Find a recipe on any of the following sites, paste the url in to this form, and create a recipe on our site automatically. Let
	us know if you experience any problems</p>

<h2>Supported Sites</h2>
<ul class="supported_domains">
	<li>www.foodnetwork.com</li>
	<li>www.cookingchanneltv.com</li>
</ul>

<%= render 'import_form' %>

