<% title "Import A Recipe" %>


<p>Find a recipe on any of the following sites, paste the url in to this form, and save the recipe on our site automatically. Let
	us know if you experience any problems</p>

<h2>Supported Sites</h2>
<ul class="supported_domains">
	<li>www.foodnetwork.com</li>
	<li>www.cookingchanneltv.com</li>
</ul>

<%= form_tag create_from_import_recipes_path, :method => :post do %>
	<div class="field">
		<%= label_tag :source_url %><br />
		<%= text_field_tag :source_url, params[:source_url], :autofocus => "autofocus", :required => 'required' %>
	</div>
	<div class="actions">
		<%= submit_tag "Submit" %>
	</div>
<% end %>