<h1>Listing recipes</h1>

<% @recipes.each do |recipe| %>
	<%= link_to recipe.title, recipe, :class => 'recipe-title' %>
	<i><%= recipe.author %></i>
	<p class="directions"><%= truncate(recipe.directions, :length => 360) %></p>
<% end %>