%li(class="recipe")
  %a(href="#{recipe_path(recipe)}")
    %img(src="http://placekitten.com/g/80/80")
    %span(class="title") #{truncate(recipe.title, :length => 45)}
    %span(class="author") #{truncate(recipe.author, :length => 40)} -
    %span(class="time-since-created") #{time_ago_in_words(recipe.created_at)} ago
