$sidebar_full_width: 270px;
$sidebar_med_width: 185px;

//global styles
body {

  background: $med_gray image-url("noise.png") repeat;
  font-family: Verdana, Helvetica, Arial;
  font-size: .85em;
  -webkit-text-size-adjust: none;
  max-width: 1080px;
  margin: 0 auto;
}

@media only screen and (min-width: 992px) {
  body { font-size: 1em; }
}

p {
  font-size: 1em;
}

a {
  color: $dark_gray;
  font-size: .85em;
}

img {
  max-width: 100%;
}

h1, h2 {
  color: $dark_gray;
}

#container {
  background: $light_gray;
  padding: 10px 20px;
  box-shadow: #363636 0px 10px 55px;
  clear: both;
  overflow: hidden;

  @media only screen and (min-width: 992px) {
    padding: 20px 40px;
  }
}

#content {
  overflow: visible;
  margin-right: 0;

  @media only screen and (min-width: 768px) {
    margin-right: $sidebar_med_width + 100;
  }

  @media only screen and (min-width: 992px) {
    margin-right: $sidebar_full_width + 100;
  }

  > div {
    float: left;
    width: 100%;
    margin-bottom: 25px;
  }
}

#sidebar {
  float: none;
  clear: both;
  padding: 0;
  margin: 0;

  @media only screen and (min-width: 768px) {
    float: left;
    clear: none;
    width: $sidebar_med_width;
    margin: 25px -100% 0 0;
  }

  @media only screen and (min-width: 992px) {
    width: $sidebar_full_width;
  }
}

//footer styles
footer {
  margin-top: 50px;
  border-top: 1px solid #B3B3B3;
  box-shadow: inset #FFF 0px 1px 0px;
  padding-top: 15px;
  clear: both;

  a {
    padding-right: 15px;
    color: $dark_gray;
  }
}

//flash stuff
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

//form stuff
#container form .field {
  margin-bottom: 10px;
}
#container form input[type=submit] {
  @include button($med_gray);
  margin-bottom: 10px;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 1em;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 1em;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}


.field label {
	display: block;
}

form .field_with_errors input {
	background: #C00;
}

.pagination {
  a {
    @include button;
    text-decoration: none;
  }
  // make the current page look like a disabled button
  .current {
    @include disabled_button;
  }
}
