[data-icon]:before {
  font-family: 'Signify Lite';
  content: attr(data-icon);
}

body {
  background: white asset-data-url("fabric.png") repeat;
  font-family: Verdana, Helvetica, Arial;
  padding-top: 70px;

  @media (max-width: 980px) {
    padding-top: 0;
  }
}
.hero-unit {
  background: transparent;
  text-align: center;
  margin-bottom: 0;
  padding: 10px 40px 40px;
  @media #{$smartphones_to_tabs} {
    padding: 0;
  }

  h1 {
    font-size: $baseFontSize * 2.2;
    margin-bottom: 20px;
    @media #{$smartphones_to_tabs} {
      font-size: $baseFontSize * 1.7;
    }
  }

  img {
    border-radius: 10px;
  }
}

footer {
  margin-top: 25px;
  padding: 20px 0 20px 0;
  @include fancy-border(top);
  clear: both;

  .links {
    margin-left: 0;

    li {
      display: inline-block;
      padding-right: 20px;
    }
  }
}
