.favorites-index {
  #recipes {
    padding-left: 0;
    margin-left: 0;

    a.remove_favorite {
      position: absolute;
      right: 37px;
      top: 26%;
      font-family: 'Iconic';
      font-size: 1.3em;
      padding: 8px;
      display: none;
    }
    .recipe:hover a.remove_favorite {
      display: block;
    }
  }
}
