.favorites-index {
  #recipes {
    padding-left: 0;
    margin-left: 0;

    a.remove_favorite {
      position: absolute;
      right: 50px;
      top: 30%;
      font-size: 1.3em;
      padding: 6px;
      display: none;
    }
    .recipe:hover a.remove_favorite {
      display: block;
    }
  }
}
