.favorites-index {
  #recipes {
    padding-left: 0;

    @include recipe;

    a.delete {
      position: absolute;
      right: 37px;
      top: 39%;
      @include button(#C00);
      padding: 4px 6px 2px;
      font-family: 'Iconic';
      font-size: 1.1em;
      opacity: .2;
    }
    .recipe:hover a.delete {
      opacity: 1;
    }
  }

  .flash_info {
    background: #FCFA83;
    padding: 0 15px;
    border: 1px solid darken(#FCFA83, 35%);
    @include border-radius(7px);
  }
}
