.span12
  .row
    .span6
      %h2 Recipes - Simple, Fast, Free
      %p
        I decided to write this site when I got sick of trying to organize a pile of
        printed recipes that I had been collecting over the years. It was taking me
        too long to find what I was looking for. And often times, I wanted to find a recipe
        by something other than its title which meant the alphabetizing didn't help; I needed search.
        Once I got a smartphone, I thought it would be nice to be able to access my recipes
        on the go too. Clearly, the web was the answer.

      %p
        There were other options already out there, but none of them seemed to be quite what
        I was looking for. I wanted something simpler, faster, and accessible from any device.
        This is what I came up with.

      %p
        %strong Please Note:
        this site is very much a work in progress. I'll try not to break anything as 
        I add features, but it could happen. If something is not working as expected, open up an
        %a(href="https://github.com/ao140505/recipes/issues?sort=updated&direction=desc&state=open" target="_blank") issue
        \.

    #quote.span3.offset1
      %blockquote
        I wrote this site because I love cooking and web development. Try it out (for free)
        and let me know what you think.
        %span(class='author') - Alex Okolish

  %hr
  .row#steps
    %h2.how-it-works How it Works
    .step.span3
      %h3 1. Sign Up
      = image_tag 'homepage/signup_small.jpg'
      %p Creating an account is easy and free.
    .step.span3
      %h3 2. Browse
      = image_tag 'homepage/browse_small.jpg'
      %p Check out what other people are cooking.
    .step.span3
      %h3 3. Save
      = image_tag 'homepage/favorite_small.jpg'
      %p Save the best recipes.
    .step.span3
      %h3 4. Contribute
      = image_tag 'homepage/new_recipe_small.jpg'
      %p Add recipes to the site.
