$sidebar_full_width: 270px;
$sidebar_med_width: 185px;

//recipe#show
.recipes-show {

  #recipe {
    width: 100%;
    padding-right: 95px;
    float: left;
    position: relative;

    ul.ingredients {
      padding-left: 0;
      list-style-type: none;
    }

    .actions {
      font-family: 'Iconic';
      margin-bottom: 20px;
      overflow: hidden;

      @media only screen and (min-width: 768px) {
        position: absolute;
        top: 26px;
        right: 20px;
        opacity: .4;
        @include transition(opacity .5s ease-out);
      }

      a {
        @include button(darken($light_gray, 10%));
        color: $med_gray;
        text-decoration: none;
        display: block;
        font-size: 26px;
        line-height: 30px;
        padding: 5px 11px;
        float: left;
        margin-right: 15px;

        @media only screen and (min-width: 768px) {
          float: none;
          margin-bottom: 5px;
          padding: 0 7px 0;
          font-size: 18px;
        }
      }

      &:hover {
        opacity: 1;
        @include transition(opacity .5s ease-out);
      }
    }
  }

  #recipe_info {
    font-size: .85em;

    @media only screen and (min-width: 768px) {
      padding: 0 20px;
      border-left: 1px solid #B3B3B3;
      box-shadow: inset #FFF 1px 0px 0px;
    }

    @media only screen and (min-width: 992px) {
      padding: 0 30px;
    }

    > h3 {
      margin: 0;
    }

    > h3.first {
      margin-top: 12px;
    }

    > p {
      margin: 0 0 10px;
    }
  }
}

//search and index page share some styles
.recipes-index,
.recipes-search {

  .recipe-title {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    color: $dark_gray;
  }

  .author {
    font-style: italic;
    margin: 2px 0;
  }

  .directions {
    width: 550px;
  }
}

//recipe#import
.recipes-import {
  #import_form {
    margin-bottom: 25px;

    .actions {
      float: left;
      margin-top: -13px;
    }

    input[type=text] {
      float: left;
      width: 70%;
      margin-right: 15px;
    }
    input[type=submit] {
      @include button($med_gray);
    }
  }

  #sidebar {

    @media only screen and (min-width: 768px) {
      @include fancy_left_border;
      padding-left: 20px;
    }

    @media only screen and (min-width: 992px) {
    }
  }
}
