@mixin recipe_title {
  display: block;
	font-size: 20px;
  font-weight: bold;
  color: $dark_gray;
}

@mixin recipe_author {
  font-style: italic;
	margin: 2px 0;
}

//recipe#show
.recipes-show {

  #recipe {
    overflow: hidden;

    .main-content {
      width: 600px;
      float: left;
    }
  }

  #recipe_info {
    float: left;
    width: 210px;
    margin: 8px 40px 0 95px;
    padding-left: 30px;
    border-left: 1px solid #B3B3B3;
    box-shadow: inset #FFF 1px 0px 0px;

    h2:first-child {
      margin-top: 0;
    }
  }
}

//recipe#search
.recipes-search {

  recipe-title {
    @include recipe_title;
  }

  .author {
    @include recipe_author;
  }

  .directions {
    width: 550px;
  }
}

//recipe#index
.recipes-index {

  .recipe-title {
    @include recipe_title;
  }

  .author {
    @include recipe_author;
  }

  .directions {
    width: 550px;
  }
}
