.recipes-show {
  .title {
    margin-bottom: 20px;
  }
  .ingredients {
    margin-bottom: 25px;
  }
  .actions {
    @media #{$smartphones_to_tabs} {
      margin: 15px 0 10px;
    }
    form {
      margin-top: 0;
      display: inline-block; //fixes mobile
    }
    .btn {
      width: 19px;
      margin-bottom: 3px;
    }
    button.btn {
      width: 41px;
    }
    button,
    a {
      font-size: 26px;
    }
    #new_favorite {
      margin-bottom: 0;
    }
  }

  #recipe_info {
    font-size: .85em;
    @include bordered-column;

    .add-photo {
      margin-bottom: 15px;
    }
    .flexslider {
      text-align: center;
    }
    .flexslider .click-for-large {
      color: $med_gray;
      font-size: .9em;
      margin: .4em 0;
    }
    .flex-direction-nav li .next,
    .flex-direction-nav li .prev {
      // not using these controls here
      display: none;
    }
    .flexslider .custom-controls {
      list-style-type: none;
      padding-left: 0;
      margin: 0.3em 0 .5em;

      li {
        display: inline-block;
        padding: 1px;
        border: 1px solid transparent;
        margin-right: -5px;
        &.active {
          border-color: $med_gray;
        }

        a img {
          display: block;
          width: 38px;
        }
      }
    }
    .add-photos {
      text-align: center;
    }
    > h3 {
      margin: 0;
      font-size: 1em;
    }
    > h3.first {
      margin-top: 0;
    }
    > p {
      margin: 0 0 10px;
    }
    .source_url {
      word-wrap: break-word;
    }
  }
}

//search and index page share some styles
.recipes-index,
.recipes-search {
  #results,
  #recipes-list {
    margin-left: 0;
    list-style: none;
  }
}

.recipes-index {
  #sidebar {
    @include bordered-column;
  }
}

.recipes-search {
  #search_results > h1 {
    margin-bottom: 2px;
    float: left;
  }

  .summary {
    float: left;
    margin: 13px 0 10px 20px;
    font-size: .85em;
    color: lighten($med_gray, 10%);

    @media #{$smartphones} {
      margin: 0 0 10px;
      clear: left;
    }
  }

  #search_recipes {
    margin-top: 0;
    font-size: 1.5em;

    input[type=text] {
      width: 75%;
    }

    button[type=submit] {
      font-size: 1em;
      padding: 7px 15px 8px;
      position: relative;
      top: -5px;
    }
  }
  #search-sort {
    overflow: auto;
    margin-bottom: 15px;

    h2 {
      @media #{$more_than_smartphone} {
        float: left;
      }
    }
    .btn-group {
      float: left;
      margin-top: -2px;
      @media #{$more_than_smartphone} {
        margin-left: 8px;
      }

      .asc::after,
      .desc::after {
        font-family: Signify;
        margin-left: 10px;
        line-height: .7em;
      }
      .desc::after {
        content: '3';
      }
      .asc::after {
        content: '1';
      }
    }
  }
}

.recipes-new,
.recipes-edit,
.recipes-create {
  .secondary-fields {
    @include bordered-column;
  }
}

.recipes-import {
  #import_form input[type="submit"] {
    @media #{$smartphones_to_tabs} {
      margin-top: 10px;
    }
  }

  #sidebar {
    @include bordered-column;
  }
}
