/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/

$dark_gray: #363636;
$med_gray: #686868;
$light_gray: #EEE;
$baseFontSize: 16px;
$baseFontFamily: Verdana, Helvetica, Arial;
//I don't like typing media queries:
$smartphones: '(max-width: 480px)';
$smartphones_to_tabs: '(max-width: 767px)';
$portrait_tabs: '(min-width: 768px) and (max-width: 979px)';
$portrait_tabs_and_above: '(min-width: 768px)';
$large_display: '(min-width: 1200px)';
$inputBorderRadius: 4px;

@import "bootstrap";
@import "bootstrap-responsive";
@import "base/bootstrap_overrides"; //this is mine

@import "bourbon";
@import "base/mixins";
@import "colorbox";
@import "flexslider";

@import "base/fonts";
//@import "base/typography";
@import "base/layout";
@import "partials/header";

@import "static/home";
@import "partials/recipe";
@import "recipes/recipe";
//@import "users/user";
@import "favorites/favorite";
@import "pictures/pictures";
