//global styles
body {

  background: $med_gray image-url("noise.png") repeat;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  max-width: 1080px;
  margin: 0 auto;
}

a {
  color: $dark_gray;
}

a img {
  border: none;
}

h1, h2 {
  color: $dark_gray;
}

//header styles
header {
  overflow: hidden;
  height: 70px;

  nav {
    float: left;
    margin-top: 30px;
    padding-left: 15px;

    ul {
      padding-left: 0;

      li {
        list-style-type: none;
        display: inline;

        a {
          padding: 9px 14px;
          color: $dark_gray;
          text-decoration: none;
          background: gray;
          border-right: 1px solid $med_gray;
        }
      }
      li.selected a {
          background: $light_gray;
      }
    }
  }
}

header {

  #other-stuff {
    float: right;
    width: 355px;
    margin-top: 16px;

    p.logged-out,
    p.logged-in {
      float: right;
      margin: 0;
      font-size: 85%;
      color: $light_gray;

      a {
        padding-left: 6px;
        color: $light_gray;
      }
    }

    form {
      clear: right;
      float: right;
      margin-top: 5px;
      position: relative;

      #search {
        height: 10px;
        width: 190px;
        padding: 8px 15px;
        background-color: #4D4D4D;
        border-radius: 15px;
        border: none;
        font-size: 95%;
        -webkit-transition: all .25s ease-out;
      }
      #search:focus {
        outline: none;
        width: 260px;
        background-color: $light_gray;
        -webkit-transition: all .25s ease-out;

        #search_submit {
          color: black;
        }
      }

      #search_submit {
        position: absolute;
        top: -2px;
        right: 6px;
        width: 24px;
        height: 26px;
        background: transparent;
        border: none;
        font-family: 'Signify';
        color: gray;
        font-size: 112%;
      }
      #search_submit:focus {
        outline: none;
      }
    }
  }
}

#container {
  background: $light_gray image-url("noise.png") repeat;
  padding: 20px 40px;
  box-shadow: #363636 0px 10px 55px;
}

#content {
	clear: both;
}

//footer styles
footer {
  margin-top: 50px;
  border-top: 1px solid #B3B3B3;
  box-shadow: inset #FFF 0px 1px 0px;
  padding-top: 15px;

  a {
    padding-right: 15px;
    color: $dark_gray;
  }
}

//flash stuff
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

//error styles
.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}


.field label {
	display: block;
}

form .field_with_errors input {
	background: #C00;
}


