.users-new {
  #sidebar {
    @include fancy_left_border;
    padding-left: 30px;

    ul {
      padding-left: 53px;
    }

    li {
      list-style-type: none;
    }

    li:before {
      font-family: 'Iconic';
      content: 'y';
      margin: 0 .5em 0 -1.5em;
      color: green;
      font-size: 35px;
    }
  }
}
